main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dial-container {
    width: 500px;
    height: 500px;
    background-color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin:50px;
}

.bar {
    width: 366px;
    height: 366px;
    background-image: url('bar.png');
    background-repeat: no-repeat;
}

.dial {
    width: 366px;
    height: 366px;
    background-image: url('noteDial.png');
    background-repeat: no-repeat;
    transition: 200ms ease-in-out;
}











